* {
	margin: 0;
	padding : 0;
	box-sizing: border-box;
	font-family: 'Vollkorn', serif;
}


.navbar {
	background-color: rgb(50,54,55);
	border-bottom: 5px solid black;
}


.btn a {
	text-decoration: none;
	color: #fff;
}

.header-image {
  width: 40%;
  height: auto;
}

body {
	height: 100vh;
	border-radius: 0; 	
	background-image: linear-gradient(rgba(50,54,55, 0.30), rgba(174,128,119, 0.60));
	background-attachment: fixed;
}

.nav-item:hover {
	background: rgb(174,128,119);
	border-radius: 20px;
}

h1 {
	font-family: 'IM Fell English SC', serif;
	font-size: 50px;
	padding-top: 40px;
}

.lead {
	line-height: 50px;
}

.hr {
	width:10%;
	position: center;
	margin: 0 auto;
	border: 3px solid;
 	border-radius: 5px;
 	border-color: rgb(174,128,119);
}

.img-fluid {
	width: 450px;
	height: 200px;
	border: 3px solid white;
	border-radius: 5px;
}

.happy {
	margin-left: 90px;
}

.d-block {
	line-height: 40px;
}

.footer {
	background-color: rgb(50,54,55);
	
}

.last {
	padding-bottom: 60px;
}

/*media Queries*/
/*mobile style*/
@media only screen and (max-width:415px) {

	.navbar-brand {
		width: 50%;
	}

	.header-image {
		width: 100%;
		height: auto;
	}

	.font-weight-bold {
		font-size: 40px;
	}

	.hr {
		width: 40%;
	}

	.lead {
		font-size: 15px;
		text-align: center;
		line-height: 30px;
		padding-top: 15px;
	}

	.container {
		margin: 0 auto;
	}

	.mission {
		padding-top: 0;
	}

	.p-3 {
		font-size: 10px;
		margin-bottom: 0;
	}

	.happy {
	 	margin-left: 0;
	 }



}

/*tablet style*/
@media only screen and (min-width:410px) and (max-width:960px) {
	 .happy {
	 	margin-left: 0;
	 }

}

/*Desktop style*/
@media only screen and (min-width:961px) {
	.happy {
	 	margin-left: 0;
	 }
}
