* {
	margin: 0;
	padding : 0;
	box-sizing: border-box;
	font-family: 'Vollkorn', serif;
}


.navbar {
	background-color: rgb(50,54,55);
	border-bottom: 5px solid black;
}


.btn a {
	text-decoration: none;
	color: #fff;
}

img {
  width: 40%;
  height: auto;
}

body {
	height: 100vh;
	border-radius: 0; 	
	background-image: linear-gradient(rgba(50,54,55, 0.30), rgba(174,128,119, 0.60));
	background-attachment: fixed;
}

.nav-item:hover {
	background: rgb(174,128,119);
	border-radius: 20px;
}

h1 {
	font-family: 'IM Fell English SC', serif;
	font-size: 50px;
	padding-top: 40px;
}

.hr {
	width:10%;
	position: center;
	margin: 0 auto;
	border: 3px solid;
 	border-radius: 5px;
 	border-color: rgb(174,128,119);
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
/*.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}
*/
/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

 #subject {
 	height:170px;
 }

/*google map*/
.mapouter { 
	position:relative;
	text-align:right;
	height:462px;
	width:470px;
}
.gmap_canvas { 
	overflow:hidden;
	background:none!important;
	height:462px;
	width:470px;
}

iframe {
	width: 470px;
	height:462px;
}

.footer {
	background-color: rgb(50,54,55);
	bottom: 0;
	width: 100%;
	position: fixed;
}

.p-3 {
		margin-bottom: 0;
}

.follow {
	font-family: 'IM Fell English SC', serif;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*social media icons*/
.fa {
  padding: 5px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


.icons {
	/*position: absolute;*/
	padding-top: 10px;
	margin-left: 10px;
}
.social {
	padding-left: 5px;
}

.zoom:hover{
  transform: scale(1.1);
  transition: all ease 500ms;
}


/*media Queries*/
/*mobile style*/
@media only screen and (max-width:415px) {
	.navbar-brand {
		width: 50%;
	}

	/*.header-image {
		width: 100%;
		height: auto;
	}
*/
	.logo {
		width: 100%;
	}

	.mapouter { 
	position:relative;
	text-align:right;
	height:200px;
	width:380px;
	margin: 0 auto;
	}

	.gmap_canvas { 
	overflow:hidden;
	background:none!important;
	height:200px;
	width: 380px;
	margin: 0 auto;
	}


	.form {
	  float: none;
	  position: absolute;
	  width: 100%;
	  margin-top: 60%;
	  padding: 30px;
	  padding-bottom: 40%;
	}

	iframe {
		width:300px;
		height:200px;
		float: left;
	}

	body {
		width: 100%;
		margin-right: 0;
	}

	.hr {
		width: 40%;
	}

	.p-3 {
		font-size: 10px;
		margin-bottom: 0;
	}

	.icons {
		position: center;
		margin-left: 0 auto;
		padding-top: 0;
	}

	.follow {
		font-size: 13px;
	}

	.fa {
	  padding: 5px;
	  font-size: 15px;
	  width: 25px;
	  text-align: center;
	  text-decoration: none;
	  margin: 5px 2px;
	  border-radius: 5px;

}

}

/*tablet style*/
@media only screen and (min-width:416px) and (max-width:960px) {
	iframe {
		width:320px;
		height:490px;
		float: left;
}
	.footer p {
		margin-bottom: 0;
	}

	.col-12 {
		margin-left: 0;
	}

	.icons {
		margin-left: 10px;
	}
 	
}

/*Desktop style*/
@media only screen and (min-width:961px) {
	.col-12 {
		margin-left: 0;
	}

	.icol {
		padding-bottom: 20%;
	}

}