* {
	margin: 0;
	padding : 0;
	box-sizing: border-box;
	font-family: 'Vollkorn', serif;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	border-radius: 0; 	
	background-image: linear-gradient(rgba(50,54,55, 0.30), rgba(174,128,119, 0.60));
	background-attachment: fixed;
}

.navbar {
	background-color: rgb(50,54,55);
	border-bottom: 5px solid black;
}


.btn a {
	text-decoration: none;
	color: #fff;
}

.hi {
  width: 40%;
  height: auto;
}

.nav-item:hover {
	background: rgb(174,128,119);
	border-radius: 20px;
}

.head {
	font-family: 'IM Fell English SC', serif;
	font-size: 40px;
    text-align: center;
    margin-left: 0;
    padding-top: 5%;
    padding-bottom: 40px;
}

#list {
  text-align: left;
  list-style: inside;
  margin-top: 30px;
  font-size: 20px;
  padding-left: 25%;
}

.h2 {
	font-family: 'IM Fell English SC', serif;
	font-size: 40px;
	text-align: center;
	padding-top: 20px;
	font-weight: bold;
}
.par {
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
}

.over {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.pulse:hover{ 
  animation: pulse 1s infinite;
  animation-timing-function: linear;   
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1);
  100% { transform: scale(1); }
  }
}

.action {
	font-size: 40px;
	font-family: 'IM Fell English SC', serif;
	padding-top: 20px;
	padding-bottom: 20px;

}

.componentContainer {
	border: 7px solid black;
	margin-bottom: 20px;
	border-radius: 5px;
}

ul {
  text-align: left;
  list-style: inside;
  padding-left: 10%;
  line-height: 35px;
}

.zoom:hover{
  transform: scale(1.1);
  transition: all ease 500ms;
}

.resize {
	height: 400px;
	width: 330px;
}

.mt-4 {
	padding-left: 10%;
	padding-right: 10%;
}

.par {
	padding-left: 10%;
	padding-right: 10%;
}

.list2 {
  text-align: left;
  list-style: inside;
  margin-top: 20px;
  font-size: 20px;
  padding-left: 40%;
}

.par3 {
	font-size: 20px;
	padding-top: 20px;
	padding-left: 10%;
	padding-right: 10%;
}

.bold1 {
	text-decoration: line-through; 
	font-size: 18px;
}

.bold {
	"color: #C30003; 
	font-size: 18px;
}

.mostPop {
	text-align: center;
}

.accessBoxContainer {
	border: 5px dashed red;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 20%;
	margin-right: 20%;

}

.footer {
	background-color: rgb(50,54,55);
}

.button-top {
	bottom: 10px;
	right: 10px;
	position: fixed;
	margin: 20px;
	font-size: 30px;
}

/*end of home page*/


/*media Queries*/
/*mobile style*/
@media only screen and (max-width:415px) {
	.display-1 {
		font-size: 20px;
		text-align: center;
		margin: auto;
		margin-top: 15%;
		margin-bottom: 30px;
	}

	.btn {
		width: 100%;
		margin: auto;
		margin-top: 30%;
	}

	.lead {
		font-size: 15px;
	}

	.jumbotron hr {
		width: 100%;
	}

	.navbar-brand {
		width: 50%;
	}

	.hi {
		width: 100%;
		height: auto;
	}

	.head {
		font-size: 25px;
	}

	.word {
		margin: 0 auto;
		text-align: center;
		font-size: 16px;
		padding-bottom: 10px;
	}

	.signs {
		font-size: 25px;
	}

	#list {
		font-size: 17px;
		text-align: left;
		margin: 0 auto;
		padding-left: 20px;
		/*margin-right: 10px;*/
		padding-bottom: 10px;
	}

	.resize {
		width: 200px;
		height: 180px;
	}

	.action {
		font-size: 28px;
	}

	.fast {
		font-size: 25px;
		padding-left: 0;
	}

	.fast li {
		font-size: 20px;
		padding-left: 25px;
	}

	.addcart {
		width: 180px;
	}

	.wordy {
		font-size: 20px;
	}

	.get-instant {
		font-size: 30px;
	}

	.list2 {
		font-size: 17px;
		text-align: left;
		margin: 0 auto;
		padding-left: 20%;
	}

	.container {
		margin: 0 auto;
	}

	.accessBoxContainer {
		margin: 0 auto;
	}

	.bold2 {
		font-size: 25px;
		padding-left: 20px;
	}

	.gain {
		padding-left: 25px;
	}

	.button-top {
		margin: 0;
		bottom: 5px;
		right: 10px;
		position: fixed;
		font-size: 25px;
	}

	.p-3 {
		font-size: 10px;
	}



}

/*tablet style*/
@media only screen and (min-width:410px) and (max-width:960px) {
	.display-1 {
		font-size: 45px;
		text-align: left;
		margin: 0;
		margin-top: 15%;
		margin-bottom: 30px;
	}

	.btn {
		width: 100%;
		margin: auto;
		margin-top: 20%;
	}

	.lead {
		font-size: 30px;
	}

	.jumbotron hr {
		width: 100%;
	}

	.hi {
		width: 40%;
		height: auto;
	}

	.p-3 {
		font-size: 8px;
	}

	#list {
		padding-left: 40px;
	}

	.word {
		font-size: 20px;
		text-align: center;
	}

	.card-img-top {
		padding-top: 24px;
		width: 210px;
		height: 240px;
	}

	.get {
		font-size: 18px;
	}

	.tabstyle {
		font-size: 18px;
		padding-left: 10px;
	}

	.fast {
		padding-left: 20px;
	}

	.mt-4 {
		font-size: 20px;
		text-align: left;
		padding-left: 15px;
		padding-right: 15px;
	}

	.list2 {
		padding-left: 35%;
	}

	.gain {
		font-size: 20px;
		padding-left: 45px;
	}

	.accessBoxContainer {
		margin-left: 30px;
		margin-right: 30px;
	}

	.end {
		font-size: 20px;
	}

	.p-3 {
		font-size: 20px;
	}


}

/*Desktop style*/
@media only screen and (min-width:961px) {
	
}