* {
	margin: 0;
	padding : 0;
	box-sizing: border-box;
	font-family: 'Vollkorn', serif;
}

/*start landing page*/
.jumbotron hr {
	background-color: rgba(215, 90, 90, 0.92);
	width: 50%;
}

.display-1 {
	font-size: 70px;
	font-family: 'IM Fell English SC', serif;
    text-align: left;
    width: 55%;
    margin-left: 0;
    padding-top: 15%;
}

#jumbo-land {
	height: 100vh;
	/*background-color: #333;*/ /*off black*/
	border-radius: 0; /*remove round corners*/
	/*padding-top: 20%;*/
	background-image: linear-gradient(rgba(50,54,55, 0.30), rgba(174,128,119, 0.60)) ,url("../images/anx.jpg");
	background-size: cover;
	background-position: center;

}

img {
  width: 40%;
  height: auto;
}

.jumbotron h1, .jumbotron p {
	color: #f2f2f2; /*off white*/
}

.btn a {
	text-decoration: none;
	color: #fff;
}

.nav-item:hover {
	background: rgb(174,128,119);
	border-radius: 20px;
}

.btn {
	width: 20%;
	margin-top: 0;
	background-color: rgba(215, 90, 90, 0.92);
	float: center;
}

.btn:hover {
	background: none;
}

.navbar {
	background-color: rgb(50,54,55);
	border-bottom: 5px solid black;
}

/*end landing page*/

/*start of home page*/

.display-4 {
	font-size: 40px;
    text-align: center;
    margin-left: 0;
    padding-top: 10%;
}


/*end of home page*/


/*media Queries*/
/*mobile style*/
@media only screen and (max-width:415px) {
	.display-1 {
		font-size: 20px;
		text-align: center;
		margin: auto;
		margin-top: 15%;
		margin-bottom: 30px;
	}

	.btn {
		width: 100%;
		margin: auto;
		margin-top: 30%;
	}

	.lead {
		font-size: 15px;
	}

	.jumbotron hr {
		width: 100%;
	}

	.mx-auto {
		width: 150px;
		height: auto;
		margin-left: 0;
	}

	/*.navbar-toggler-icon {
		background-color: black;
  		color: black;
	}

	.navbar-nav a {
		color: white;
	}

*/


}

/*tablet style*/
@media only screen and (min-width:410px) and (max-width:960px) {
	.display-1 {
		font-size: 45px;
		text-align: left;
		margin: 0;
		margin-top: 15%;
		margin-bottom: 30px;
	}

	.btn {
		width: 100%;
		margin: auto;
		margin-top: 20%;
	}

	.lead {
		font-size: 30px;
	}

	.jumbotron hr {
		width: 100%;
	}
}

/*Desktop style*/
@media only screen and (min-width:961px) {
	
}